{% extends "catalog/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
        <h1>{% if form.instance.pk %}Update Author{% else %}Add Author{% endif %}</h1>
       <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" value="{% if form.instance.pk %}Update{% else %}Add{% endif %}" class="btn btn-success">
    </form>

    {% if form.instance.pk %}
        <form method="post" action="{% url 'author_delete' form.instance.pk %}">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    {% endif %}
{% endblock %}